<div class="row" *ngIf="data.length > 0">
    <div class="input-group col-3">
        <input type="text" class="form-control" placeholder="Filtrar..." aria-describedby="basic-addon1" [(ngModel)]="filterInput">
    </div>
    <div class="col-1">
        <select class="custom-select" [(ngModel)]="rowNumber" (change)="changeRowNumber()">
            <option selected>10</option>
            <option>20</option>
            <option>30</option>
            <option>40</option>
            <option>50</option>
            <option>100</option>
            <option>1</option>
            <option>2</option>
            <option>5</option>
        </select>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th *ngFor="let header of tableHeaders" (click)="sortTable(header)" style="cursor:pointer">{{header}} <i  *ngIf="header == sortedElement" class="fa" [class.fa-sort-asc]="this.sortedWay == 1" [class.fa-sort-desc]="this.sortedWay == -1"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of data | generalFilter:filterInput | paginationFilter:firstElement:lastElement">
                <td *ngFor="let header of tableHeaders">{{row[header]}}</td>
            </tr>
        </tbody>
    </table>
    <div class="mx-auto" *ngIf="IsPagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" [class.disabled]="!paginationPrevious" (click)="paginationPrevious && changePage(CurrentPage - 1)"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                <li class="page-item" *ngFor="let number of PaginationArray" [class.disabled]="number == CurrentPage" (click)="!(number==CurrentPage) && changePage(number)"><a class="page-link" href="javascript:void(0);">{{number}}</a></li>
                <li class="page-item" [class.disabled]="!paginationNext" (click)="paginationNext && changePage(CurrentPage + 1)"><a class="page-link" href="javascript:void(0);">Next</a></li>
            </ul>
        </nav>
    </div>
</div>